<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.lanqiao.mapper.HouseMapper" >
  <resultMap id="HouseResultMap" type="org.lanqiao.entity.House" >
    <id column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="house_name" property="houseName" jdbcType="VARCHAR" />
    <result column="house_price" property="housePrice" jdbcType="INTEGER" />
    <result column="deposit" property="deposit" jdbcType="INTEGER" />
    <result column="house_number" property="houseNumber" jdbcType="INTEGER" />
    <result column="house_address" property="houseAddress" jdbcType="VARCHAR" />
    <result column="house_area" property="houseArea" jdbcType="VARCHAR" />
    <result column="house_model" property="houseModel" jdbcType="VARCHAR" />
    <result column="live_nubmer" property="liveNubmer" jdbcType="INTEGER" />
    <result column="character_des" property="characterDes" jdbcType="VARCHAR" />
    <result column="internal_sit" property="internalSit" jdbcType="VARCHAR" />
    <result column="traffic_sit" property="trafficSit" jdbcType="VARCHAR" />
    <result column="surrounding_sit" property="surroundingSit" jdbcType="VARCHAR" />
    <result column="house_imgurl" property="houseImgurl" jdbcType="VARCHAR" />
    <result column="longitude" property="longitude" jdbcType="REAL" />
    <result column="latitude" property="latitude" jdbcType="REAL" />
    <result column="publisher_id" property="publisherId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <collection property="houseImgSet" resultMap="HouseImgResultMap"></collection>
  </resultMap>
    <resultMap id="HouseImgResultMap" type="org.lanqiao.entity.HouseImg" >
        <id column="house_img_id" property="houseImgId" jdbcType="INTEGER" />
        <result column="house_img_url" property="houseImgUrl" jdbcType="VARCHAR" />
        <result column="house_id" property="houseId" jdbcType="INTEGER" />
    </resultMap>
  <sql id="Base_Column_List" >
    house_id, house_name, house_price, deposit, house_number, house_address, house_area, 
    house_model, live_nubmer, character_des, internal_sit, traffic_sit, surrounding_sit, 
    house_imgurl, longitude, latitude, publisher_id, user_id
  </sql>

  <select id="getAll" resultMap="HouseResultMap">
    select * from house
  </select>
    <select id="getImg" resultMap="HouseResultMap" parameterType="java.lang.Integer">
        SELECT *  from house h,houseimg t WHERE t.house_id=h.house_id and h.house_id=#{houseId} ORDER BY t.house_img_id
    </select>

  <select id="selectByPrimaryKey" resultMap="HouseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from house
    where house_id = #{houseId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from house
    where house_id = #{houseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.lanqiao.entity.House" >
    insert into house (house_id, house_name, house_price, 
      deposit, house_number, house_address, 
      house_area, house_model, live_nubmer, 
      character_des, internal_sit, traffic_sit, 
      surrounding_sit, house_imgurl, longitude, 
      latitude, publisher_id, user_id
      )
    values (#{houseId,jdbcType=INTEGER}, #{houseName,jdbcType=VARCHAR}, #{housePrice,jdbcType=INTEGER}, 
      #{deposit,jdbcType=INTEGER}, #{houseNumber,jdbcType=INTEGER}, #{houseAddress,jdbcType=VARCHAR}, 
      #{houseArea,jdbcType=VARCHAR}, #{houseModel,jdbcType=VARCHAR}, #{liveNubmer,jdbcType=INTEGER}, 
      #{characterDes,jdbcType=VARCHAR}, #{internalSit,jdbcType=VARCHAR}, #{trafficSit,jdbcType=VARCHAR}, 
      #{surroundingSit,jdbcType=VARCHAR}, #{houseImgurl,jdbcType=VARCHAR}, #{longitude,jdbcType=REAL}, 
      #{latitude,jdbcType=REAL}, #{publisherId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.lanqiao.entity.House" >
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="houseName != null" >
        house_name,
      </if>
      <if test="housePrice != null" >
        house_price,
      </if>
      <if test="deposit != null" >
        deposit,
      </if>
      <if test="houseNumber != null" >
        house_number,
      </if>
      <if test="houseAddress != null" >
        house_address,
      </if>
      <if test="houseArea != null" >
        house_area,
      </if>
      <if test="houseModel != null" >
        house_model,
      </if>
      <if test="liveNubmer != null" >
        live_nubmer,
      </if>
      <if test="characterDes != null" >
        character_des,
      </if>
      <if test="internalSit != null" >
        internal_sit,
      </if>
      <if test="trafficSit != null" >
        traffic_sit,
      </if>
      <if test="surroundingSit != null" >
        surrounding_sit,
      </if>
      <if test="houseImgurl != null" >
        house_imgurl,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="publisherId != null" >
        publisher_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="houseName != null" >
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="housePrice != null" >
        #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        #{houseNumber,jdbcType=INTEGER},
      </if>
      <if test="houseAddress != null" >
        #{houseAddress,jdbcType=VARCHAR},
      </if>
      <if test="houseArea != null" >
        #{houseArea,jdbcType=VARCHAR},
      </if>
      <if test="houseModel != null" >
        #{houseModel,jdbcType=VARCHAR},
      </if>
      <if test="liveNubmer != null" >
        #{liveNubmer,jdbcType=INTEGER},
      </if>
      <if test="characterDes != null" >
        #{characterDes,jdbcType=VARCHAR},
      </if>
      <if test="internalSit != null" >
        #{internalSit,jdbcType=VARCHAR},
      </if>
      <if test="trafficSit != null" >
        #{trafficSit,jdbcType=VARCHAR},
      </if>
      <if test="surroundingSit != null" >
        #{surroundingSit,jdbcType=VARCHAR},
      </if>
      <if test="houseImgurl != null" >
        #{houseImgurl,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=REAL},
      </if>
      <if test="publisherId != null" >
        #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.lanqiao.entity.House" >
    update house
    <set >
      <if test="houseName != null" >
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="housePrice != null" >
        house_price = #{housePrice,jdbcType=INTEGER},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=INTEGER},
      </if>
      <if test="houseNumber != null" >
        house_number = #{houseNumber,jdbcType=INTEGER},
      </if>
      <if test="houseAddress != null" >
        house_address = #{houseAddress,jdbcType=VARCHAR},
      </if>
      <if test="houseArea != null" >
        house_area = #{houseArea,jdbcType=VARCHAR},
      </if>
      <if test="houseModel != null" >
        house_model = #{houseModel,jdbcType=VARCHAR},
      </if>
      <if test="liveNubmer != null" >
        live_nubmer = #{liveNubmer,jdbcType=INTEGER},
      </if>
      <if test="characterDes != null" >
        character_des = #{characterDes,jdbcType=VARCHAR},
      </if>
      <if test="internalSit != null" >
        internal_sit = #{internalSit,jdbcType=VARCHAR},
      </if>
      <if test="trafficSit != null" >
        traffic_sit = #{trafficSit,jdbcType=VARCHAR},
      </if>
      <if test="surroundingSit != null" >
        surrounding_sit = #{surroundingSit,jdbcType=VARCHAR},
      </if>
      <if test="houseImgurl != null" >
        house_imgurl = #{houseImgurl,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=REAL},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=REAL},
      </if>
      <if test="publisherId != null" >
        publisher_id = #{publisherId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.lanqiao.entity.House" >
    update house
    set house_name = #{houseName,jdbcType=VARCHAR},
      house_price = #{housePrice,jdbcType=INTEGER},
      deposit = #{deposit,jdbcType=INTEGER},
      house_number = #{houseNumber,jdbcType=INTEGER},
      house_address = #{houseAddress,jdbcType=VARCHAR},
      house_area = #{houseArea,jdbcType=VARCHAR},
      house_model = #{houseModel,jdbcType=VARCHAR},
      live_nubmer = #{liveNubmer,jdbcType=INTEGER},
      character_des = #{characterDes,jdbcType=VARCHAR},
      internal_sit = #{internalSit,jdbcType=VARCHAR},
      traffic_sit = #{trafficSit,jdbcType=VARCHAR},
      surrounding_sit = #{surroundingSit,jdbcType=VARCHAR},
      house_imgurl = #{houseImgurl,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=REAL},
      latitude = #{latitude,jdbcType=REAL},
      publisher_id = #{publisherId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER}
    where house_id = #{houseId,jdbcType=INTEGER}
  </update>
</mapper>