#allpage{
    width:1600px;
    height: 700px;
    background-image: url("../image/注册背景.jpg");
}
#logo{
    position: relative;
    top: 50px;
    left: 30px;
    width: 128px;
    height: 61px;
    text-indent: -9999px;
    display: block;
    background-image: url("../image/logo.png");
    float: left;
}
#wenzi{
    float: left;
    position: relative;
    width: 200px;
    height: 20px;
    left: 50px;
    top: 65px;
}
#main{
    position: relative;
    width: 638px;
    height: 408px;
    padding: 30px;
    background-color: white;
    left: 400px;
    top: 150px;
}
#zhucexiaozhu{
    left: -30px;
}
#userName{
    margin-top: 30px;
    position: relative;
    left: -50px;
    width: 200px;
    height: 30px;
}
#help{
    position: relative;
    left: 50px;
    width: 200px;
    height: 30px;
}
#password{
    margin-top: 30px;
    position: relative;
    left: 50px;
    width: 200px;
    height: 30px;
}
#butt{
    position: relative;
    left: 50px;
    width: 100px;
    height: 40px;
    top: 30px;
}
