* {
    margin: 0;
}

body {
    width: 1349px;
    height: 850px;
    font: normal 14px/22px "Microsoft YaHei";
}

ul {
    width: 260px;
}

ul li {
    list-style: none;
}

#top {
    width: 1366px;
    height: 57px;
    float: left;
    background: linear-gradient(#313131, #313131);
    font: 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
}

#main {

    margin: 0 0 0 150px;
}

#cent1 {
    width: 1440px;
    height: 100px;
    margin: 2px;
    float: left;
}

#cent2 {
    float: left;
    width: 1004px;
    height: 27px;
    font-size: 12px;
    color: #959ea7;
    line-height: 22px;
    padding-bottom: 5px;
}

#cent3 {
    float: left;
    width: 1004px;
    height: 600px;
}

#index {
    float: left;
    width: 280px;
    height: 300px;
    margin: 0;

}

.i_i {
    width: 150px;
    height: 50px;
    background-color: #E6E6FA;
}

#index a {
    width: 200px;
    padding: 0 0 0 20px;
    height: 50px;
    line-height: 44px;
    font-size: 16px;
}

#msg_main {
    float: left;
    width: 600px;
    height: 600px;
}

.m {
    float: left;
    width: 700px;
}
.change{
    color: grey;
    float: right;
    width: 140px;
    height: 20px;
    padding-top: 18px;
    margin-right: 84px;
}
.g {
    float: left;
    width: 80px;
}

.i {
    float: right;
    width: 300px;
    height: 20px;
    padding: 0 80px 0 0;

}

#msg_main .m {
    float: left;
    padding: 20px 0 0 40px;
}

#foot {
    float: left;
    width: 1004px;
    height: 100px;
}

.foot_btm {
    float: left;
    width: 1004px;
    height: 100px;
    text-align: center;
    color: #bdc3c7;
    clear: both;
    font: 12px/1.5 Verdana, Arial, Helvetica, sans-serif;
    line-height: 26px;
    margin-left: 17px;
    margin-top: 50px;
}

.l_t {
    font-size: large;
    color: #30c3a6;
    float: left;
    width: 80px;
    margin: 15px 0 0 0;
}

.note {
    float: left;
    font-size: small;
    margin: 4px 0 0 0;
    width: 600px;
    color: #959ea7;
}

.botton {
    float: left;
    padding: 0 0px 0 0;
}

#chang {
    float: left;
    margin: -9px 0 0 -50px;
    width: 300px;
    height: 80px;
    padding: 20px 0 0 0;

}

input {
    width: 170px;
    height: 20px;
    border: 1px solid #666666;
    border-radius: 7px;
}

#baocun {
    width: 112px;
    height: 50px;
    background-color: #ffffff;
    color: black;
    font-size: large;
    border-width: 1px;
    padding: 12px 19px;
    border-radius: 13px;
    border-color: gray;
}


.top-one {
    margin-left: 150px;
}

.logo_black {
    background: url(../img/pig.png) no-repeat;
}

.logo_v2 {
    width: 120px;
    height: 40px;
    display: block;
    float: left;
    margin: 8px 0 0 -27px;
}

.slogan {
    background: url(../img/luge.png) no-repeat;
    display: inline-block;
    float: left;
    height: 40px;
    margin-top: 8px;
    width: 140px;
}

.nav {
    float: right;
    margin-top: 13px;
    margin-right: 16px;
    width: 600px;
}

.nav li {
    color: white;
    float: left;
    list-style: none;
    margin-left: 20px;
}

.nav li a {
    float: left;
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.line_index {
    background: url(//jci.xiaozhustatic2.com/e19080801/images/icon_header.png) no-repeat;
}

.line_index {
    background-position: -265px -60px;
    height: 21px;
    width: 1px;
    display: inline-block;
    vertical-align: middle;
}

.nav li .btn_public {
    width: 126px;
    height: 31px;
    display: inline-block;
}

.nav li .btn_public {
    background: url(../img/fabu.png) no-repeat;
}

.nav li a.iphone {
    background-position: 0 -125px;
    padding-left: 24px;
    margin-left: 10px;
}

.nav li a.icon {
    background: url(../img/phone.png) no-repeat;
}

#qwqw {
    float: left;
    margin-top: 4px;
    color: white;
    background-color: #313131;
    width: 80px;
    border: 0;
}
